# Interfaz Web y Manejo de Datos Base
streamlit>=1.32.0
pandas>=2.2.0
openpyxl>=3.1.2

# Transformación de Coordenadas (PSAD56 a WGS84)
pyproj>=3.6.0

# Conexión a Sernageomin (API REST)
requests>=2.31.0

# Procesamiento Espacial Offline (Shapefiles y Mapas)
geopandas>=0.14.3
shapely>=2.0.3
matplotlib>=3.8.3
contextily>=1.5.0

# Extracción de Datos de Laboratorio (PDFs)
pdfplumber>=0.11.0

# Generación de Informes PDF Finales
reportlab>=4.1.0